<div class="card mb-2 nested-fields">
  <div class="card-header text-right text-end p-2">
    <%= link_to_remove_association dynamic_scaffold_icon(:delete), f, class: 'btn btn-danger btn-sm' %>
  </div>
  <div class="card-body">
    <%- items.each do |elem|-%>
      <%= render 'dynamic_scaffold/bootstrap/form/row', form: f, elem: elem, depth: depth + 1 %>
    <% end %>
  </div>
</div>