<ul class="resplist resplist-striped">
  <%@manager.list.each do |record|%>
    <li class="resplist-row">
      <div class="resplist-items">
      <%@manager.displays.each do |disp|%>
        <div class="<%= classNames('resplist-item', disp.class_attr_value) %>"<%= disp.html_attr %>>
          <div class="resplist-label"><%= disp.label record %></div>
          <div class="resplist-value"><%= disp.value record %></div>
        </div>
      <%end%>
      </div>
    </li>
  <%end%>
</ul>