<% if page.current? %>
  <li class="<%= classNames 'page-item', {'active': controller.dsconf.list.pagenation.highlight_current} %>">
    <%= content_tag :a, controller.dsconf.list.pagenation.page_number(page, @records), remote: remote, rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil)), class: 'page-link' %>
  </li>
<% else %>
  <li class="<%= classNames('page-item', controller.dsconf.list.pagenation.page_class(page, @records)) %>">
    <%= link_to page, url, remote: remote, rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil)), class: 'page-link' %>
  </li>
<% end %>
