<%if dynamic_scaffold.list.pagination %>
  <div class="dynamicScaffold-row">
    <%= paginate @records, {views_prefix: 'dynamic_scaffold/bootstrap'}.merge(dynamic_scaffold.list.pagination.kaminari_options) %>
  </div>
<%end%>