<% if dynamic_scaffold.list.sorter %>
<div class="text-right text-end">
  <button type="submit" name="submit_sort" class="btn btn-outline-warning btn-warning btn-sm">
    <%= dynamic_scaffold_icon :save %> <%= t('dynamic_scaffold.button.save_order') %>
  </button>
</div>
<% end %>